@page
@model RazorPages.Web.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>Your looking url not found</h1>
<p>Please visit right url!</p>
<a asp-page="/Employees/Index" class="btn btn-success">Click here to back index page</a>

